/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin:0;
  padding:0;
  box-sizing:border-box
}

.top-title{
  margin:20px 30px;

}

.top-text{
  margin:30px 70px;
  font-size:14px;
}

.start{
  margin:30px 70px;
}

.index-box{
  margin:30px;
}

.new-box{
  margin:30px;
}

.new-book-title{
  margin:10px 0;
}

.new-book-body{
  position:relative;
}

.new-submit{
  position:absolute;
}

.show-text{
  margin:30px 70px;
}

.show-link{
  margin:0 30px;
}